<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1328},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>piece00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1200},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,900},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,900},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,600},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,600},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece11.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1200},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece12.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,900},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece13.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,600},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,300},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,300},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece22.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,300},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece23.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1200},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece30.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,900},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece31.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,600},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece32.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,300},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,0},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece41.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece42.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1200},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece50.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece51.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece52.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>piece53.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,300}}</string>
                <key>sourceSize</key>
                <string>{360,300}</string>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1200},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1328},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>shuffle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1200},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.png</string>
            <key>size</key>
            <string>{1800,1500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9b6ce935bce71aac82463b4d9cf2793$</string>
            <key>textureFileName</key>
            <string>assets.png</string>
        </dict>
    </dict>
</plist>
